PORT=
FRONTEND_URL=

PASSWORD_JWT_ACCESS=
PASSWORD_JWT_REFRESH=

DB_POSTGRES_HOST=
DB_POSTGRES_PORT=
DB_POSTGRES_DB=
DB_POSTGRES_PASSWORD=
DB_POSTGRES_USER=

# Verificar se o protocolo é http ou https
MINIO_URL=http://{MINIO_HOST}:{MINIO_PORT}
MINIO_BUCKET_PROPERTIES=